.ModalButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.ModalText {
  display: flex;
  justify-content: center;

  span {
    font-weight: bold;
    margin-left: 5px;
    margin-left: 5px;
  }
}
